<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <h3> My Favorite Movies</h3>
    <h4><%= value3PassedToRenderPage %></h4>
    <h4><%= value4PassedToRenderPage %></h4>
    <h4><%= value5PassedToRenderPage %></h4>
    <h4><%= value6PassedToRenderPage %></h4>
    
    </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
    </body>
    </html>